* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/bg-intro-mobile.png);
  background-color:hsl(0, 100%, 74%);
  background-repeat: none;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100%;
}

/* ********************* 
General
********************* */
.left,
.right h3 {
  text-align: center;
}

input,
label,
select {
  margin-bottom: 15px;
}

/* colors */
.red {
  color: hsl(0, 100%, 74%);
}

.green {
  color: hsl(154, 59%, 51%);
}

.blue {
  color: hsl(248, 32%, 49%);
}

.dark-blue {
  color: hsl(249, 10%, 26%);
}

.gray-blue {
  color: hsl(246, 25%, 77%);
}

/* ********************* 
Main
********************* */
main {
  width: 300px;
  margin: 100px auto;
}
/* Left Side */
.left {
  color: #fff;
  font-size: 0.9rem;
}

.left p{
  line-height: 25px;
  margin: 15px 0 50px 0;
}

/* Right Side  */
.right {
  font-size: 0.9rem;
  color:hsl(249, 10%, 26%);
}

.right h3 {
  background-color:hsl(248, 32%, 49%);
  border-radius: 8px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin: 15px 0 30px 0;
  padding: 15px 20px;

}

.right h3 span {
  font-weight: 700;
}

/* Form */
.box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
}

/* inputs */
input[type=number] {
  appearance: none;
}

input[type=submit] {
  color: #fff;
  cursor: pointer;
  background-color:hsl(154, 59%, 51%);
  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
  padding: 15px 20px;
  text-transform: uppercase;
  width: 260px;
}

input[type=text],
input[type=number],
input[type=email] {
  padding: 15px 10px;
  width: 260px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

textarea {
  width: 260px;
}

/* ********************* 
Footer
********************* */

footer {
  color:rgba(0, 0, 0, 0.3);
  clear: both;
  width: 100%;
  padding: 10px 10px 0px 10px;
  height: 40px;
  display: flex;
  justify-content: center;
}


/* ********************* 
Media Query: 
Desktop
********************* */
@media (min-width: 1440px) {
  body {
    background-image: url(img/bg-intro-desktop.png);
  }

  /* ********************* 
  Main
  ********************* */
  main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  /* ********************* 
  left 
  ********************* */
  .left {
    font-size: 1.5rem;
    text-align: left;
    width: 500px;
    margin-right: 150px;
  }

  .left p {
    font-size: 0.9rem;
    width: 443px;
  }

  /* ********************* 
  right
  ********************* */
  .right {
    width: 500px;
  }

  #survey-form {
    height: 500px;
    overflow-y: scroll; 
  }

  .scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px hsl(249, 10%, 26%);
    background-color: #555;
  }

    /* inputs */
  input[type=submit] {
    width: 425px;
  }

  input[type=text],
  input[type=number],
  input[type=email] {
    padding: 15px 10px;
    width: 425px;
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%);
  }
  
  textarea{
    width: 425px;
  }

}