* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url('img/white.jfif');
  background-position: center center;
  background-size: 100% 140%;
  background-repeat: no-repeat;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Amatic SC',sans-serif;
  font-weight: 700;
  font-size: 3rem;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* **************
Game Container 
************** */
.game-container section {
  display: flex;
}

.game-container span {
  display: block;
  margin: 8px;
  height: 150px;
  width: 150px;
  background: #add8e6;
  border-radius: 10px;
}

/* **************
Cell
************** */
.game-container .cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.game-container .cell.hide {
  pointer-events: none;
}

.cross,
.circle {
  color: #fff;
}

.cell:hover {
  background: #333;
}

/* **************
Buttons 
************** */
.buttons {
  margin-top: 20px;
  opacity: 0;
  pointer-events: none;
}

.buttons span {
  margin: 0 30px;
}

.prev,
.next,
.reload {
  width: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev:hover,
.next:hover {
  color: #ffbf00;
}

.reload:hover {
  color: #fe5c5c;
}


